.ui-slider { position: relative; text-align: right; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; display: block; font-size: 0.7em; background-position: 100% 0; border: 0; }
.ui-slider-horizontal { height: 0.8em; }
.ui-slider-horizontal .ui-slider-handle { top: -0.3em; margin-right: -0.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { right: 0; }
.ui-slider-horizontal .ui-slider-range-max { left: 0; }
.ui-slider-vertical { width: 0.8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { right: -0.3em; margin-right: 0; margin-bottom: -0.6em; }
.ui-slider-vertical .ui-slider-range { right: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.ui-helper-reset { padding: 0; margin: 0; font-size: 100%; line-height: 1.3; text-decoration: none; list-style: none; border: 0; outline: 0; }
.ui-helper-clearfix::after { display: block; height: 0; clear: both; visibility: hidden; content: "."; }
.ui-helper-clearfix { display: inline-block; }
* html .ui-helper-clearfix { height: 1%; }
.ui-helper-clearfix { display: block; }
.ui-helper-zfix { position: absolute; top: 0; right: 0; width: 100%; height: 100%; filter: alpha(opacity=0); opacity: 0; }
.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; overflow: hidden; text-indent: -99999px; background-repeat: no-repeat; }
.ui-widget-overlay { position: absolute; top: 0; right: 0; width: 100%; height: 100%; }
.ui-widget { font-family: Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }

.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea { font-family: Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { color: #6b6b6d; background: #fff 50% 50% repeat-x; border: 1px solid #aaa; }
html.theme-dark .ui-widget-content { color: #2f3241; background: #171b29 50% 50% repeat-x; }
.ui-widget-content a { color: #6b6b6d; }
html.theme-dark .ui-widget-content a { color: #2f3241; }
.ui-widget-header { color: #6b6b6d; background: #fafafa; border: 1px solid; border-color: #c9cbcd; }
html.theme-dark .ui-widget-header { color: #2f3241; background: #2f3241; border-color: #2f3241; }
.ui-widget-header a { color: #6b6b6d; }
html.theme-dark .ui-widget-header a { color: #2f3241; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default { font-weight: 400; color: #555; background: #fafafa; border: 1px solid #d3d3d3; }

html.theme-dark .ui-state-default,
html.theme-dark .ui-widget-content .ui-state-default,
html.theme-dark .ui-widget-header .ui-state-default { color: #8b8f95; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited { color: #555; text-decoration: none; }

html.theme-dark .ui-state-default a,
html.theme-dark .ui-state-default a:link,
html.theme-dark .ui-state-default a:visited { color: #8b8f95; }

.ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-hover { font-weight: 400; color: #212121; background: #dadada; border: 1px solid #999; }
.ui-state-hover a { color: #212121; text-decoration: none; }

@media (any-hover: hover), (min--moz-device-pixel-ratio: 0), (min-width: 0\0) { .ui-state-hover a:hover { color: #212121; text-decoration: none; } }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active { font-weight: 400; color: #212121; background: #fff 50% 50% repeat-x; border: 1px solid #aaa; }

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-widget :active { outline: none; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight { color: #363636; background: #fff8cf; border: 1px solid #fde763; }

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a { color: #363636; }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error { color: #cd0a0a; background: #fef1ec 50% 50% repeat-x; border: 1px solid #cd0a0a; }

.ui-state-error-text,
.ui-state-error a,
.ui-widget-content .ui-state-error-text,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error-text,
.ui-widget-header .ui-state-error a { color: #cd0a0a; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary { font-weight: 700; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary { font-weight: 400; filter: alpha(opacity=70); opacity: 0.7; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled { background-image: none; filter: alpha(opacity=35); opacity: 0.35; }

.ui-widget-overlay,
.ui-widget-shadow { background: #aaa 50% 50% repeat-x; filter: alpha(opacity=30); opacity: 0.3; }
.ui-widget-shadow { padding: 8px; margin: -8px -8px 0 0; border-radius: 8px; }
.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute; z-index: 99999; display: block; font-size: 0.1px; }

.ui-resizable-autohide .ui-resizable-handle,
.ui-resizable-disabled .ui-resizable-handle { display: none; }
.ui-resizable-n { top: -5px; right: 0; width: 100%; height: 7px; cursor: n-resize; }
.ui-resizable-s { right: 0; bottom: -5px; width: 100%; height: 7px; cursor: s-resize; }
.ui-resizable-e { top: 0; left: -5px; width: 7px; height: 100%; cursor: e-resize; }
.ui-resizable-w { top: 0; right: -5px; width: 7px; height: 100%; cursor: w-resize; }
.ui-resizable-se { bottom: 1px; left: 1px; width: 12px; height: 12px; cursor: sw-resize; }
.ui-resizable-sw { right: -5px; bottom: -5px; width: 9px; height: 9px; cursor: se-resize; }
.ui-resizable-nw { top: -5px; right: -5px; width: 9px; height: 9px; cursor: ne-resize; }
.ui-resizable-ne { top: -5px; left: -5px; width: 9px; height: 9px; cursor: nw-resize; }
.ui-selectable-helper { position: absolute; z-index: 100; border: 1px dotted #000; }
.ui-autocomplete { position: absolute; cursor: default; }
* html .ui-autocomplete { width: 1px; }
.ui-menu { display: block; float: right; padding: 2px; margin: 0; list-style: none; }
.ui-menu .ui-menu { margin-top: -3px; }
.ui-menu .ui-menu-item { float: right; width: 100%; padding: 0; margin: 0; clear: right; zoom: 1; }
.ui-menu .ui-menu-item a { display: block; padding: 0.2em 0.4em; line-height: 1.5; text-decoration: none; zoom: 1; }

.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a.ui-state-hover { margin: -1px; font-weight: 400; }
.ui-button { position: relative; display: inline-block; padding: 0; margin-left: 0.1em; overflow: visible; text-align: center; text-decoration: none !important; cursor: pointer; zoom: 1; }
.ui-button-icon-only { width: 2.2em; }
button.ui-button-icon-only { width: 2.4em; }
.ui-button-icons-only { width: 3.4em; }
button.ui-button-icons-only { width: 3.7em; }
.ui-button .ui-button-text { display: block; line-height: 1.4; }
.ui-button-text-only .ui-button-text { padding: 0.4em 1em; }

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text { padding: 0.4em; text-indent: -9999999px; }

.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text { padding: 0.4em 2.1em 0.4em 1em; }

.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text { padding: 0.4em 1em 0.4em 2.1em; }
.ui-button-text-icons .ui-button-text { padding-right: 2.1em; padding-left: 2.1em; }
input.ui-button { padding: 0.4em 1em; }

.ui-button-icon-only .ui-icon,
.ui-button-icons-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { right: 50%; margin-right: -8px; }

.ui-button-icons-only .ui-button-icon-primary,
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary { right: 0.5em; }

.ui-button-icons-only .ui-button-icon-secondary,
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary { left: 0.5em; }
.ui-buttonset { margin-left: 7px; }
.ui-buttonset .ui-button { margin-right: 0; margin-left: -0.3em; }
button.ui-button::-moz-focus-inner { padding: 0; border: 0; }
.ui-tabs .ui-tabs-nav { padding: 0.2em 0.2em 0; margin: 0; }
.ui-tabs .ui-tabs-nav li { position: relative; top: 1px; float: right; padding: 0; margin: 0 0 1px 0.2em; white-space: nowrap; list-style: none; border-bottom: 0 !important; }
.ui-tabs .ui-tabs-nav li a { float: right; padding: 0.5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; margin-bottom: 0; }

.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { cursor: text; }

.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { display: block; margin: 5px 0; background: none; border-width: 0; }
.ui-tabs .ui-tabs-hide { position: absolute; right: -10000px; }
.ui-datepicker { display: none; padding: 0; border: none; }
.ui-datepicker .ui-datepicker-header { position: relative; height: 53px; padding: 0; line-height: 53px; color: #fff; background-color: #2196f3; border: none; }
html.theme-dark .ui-datepicker .ui-datepicker-header { color: #c5cbce; background-color: #21384d; }

.ui-datepicker .ui-datepicker-header .ui-datepicker-next,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev { position: absolute; top: 0; width: 40px; height: 100%; cursor: pointer; background: none; border: none; opacity: 0.8; }

.ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-disabled,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-disabled { opacity: 0.4; }

.ui-datepicker .ui-datepicker-header .ui-datepicker-next-hover:not(.ui-state-disabled),
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev-hover:not(.ui-state-disabled) { background: none; border: none; opacity: 1; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-next { right: 0; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span { width: 9px; height: 14px; margin-right: -5px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 14' width='9' height='14' fill='%23fff'%3E%3Cpath d='m2 0l-2 2 5 5-5 5 2 2 7-7z'/%3E%3C/svg%3E"); }
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev { left: 0; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span { width: 9px; height: 14px; margin-right: -4px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 14' width='9' height='14' fill='%23fff'%3E%3Cpath d='m0 7l7-7 2 2-5 5 5 5-2 2z'/%3E%3C/svg%3E"); }

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span { position: absolute; top: 50%; right: 50%; display: block; margin-top: -8px; margin-right: -8px; }
.ui-datepicker .ui-datepicker-title { margin: 0; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size: 1em; }
.ui-datepicker select.ui-datepicker-month-year { width: 100%; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%; }
.ui-datepicker table { width: 100%; margin: 0; font-size: 12px; border-collapse: collapse; border: 1px solid; border-color: #d6d6d6; border-top: none; }
html.theme-dark .ui-datepicker table { border-color: #363c4e; }
.ui-datepicker th { width: 40px; height: 28px; padding: 0; font-weight: 400; color: #8d9196; text-align: center; background-color: #f8f8f8; border: none; border-bottom: 1px solid red; border-bottom: 1px solid; border-bottom-color: #d6d6d6; }
html.theme-dark .ui-datepicker th { background-color: #2f3241; border-bottom-color: #363c4e; }
.ui-datepicker td { padding: 0; margin: 0; border: none; }

.ui-datepicker td a,
.ui-datepicker td a.ui-state-default,
.ui-datepicker td span,
.ui-datepicker td span.ui-state-default { position: relative; display: block; height: 39px; padding: 0; margin: 0; line-height: 40px; text-align: center; text-decoration: none; background: #fff; border: none; border-color: #d6d6d6; border-style: solid; border-width: 0 0 1px 1px; }

html.theme-dark .ui-datepicker td a,
html.theme-dark .ui-datepicker td a.ui-state-default,
html.theme-dark .ui-datepicker td span,
html.theme-dark .ui-datepicker td span.ui-state-default { background: #171b29; border-color: #363c4e; }

.ui-datepicker td a.ui-state-default.ui-state-highlight,
.ui-datepicker td a.ui-state-highlight,
.ui-datepicker td span.ui-state-default.ui-state-highlight,
.ui-datepicker td span.ui-state-highlight { color: #00b9db; }

.ui-datepicker td a.ui-state-default.ui-state-highlight::after,
.ui-datepicker td a.ui-state-highlight::after,
.ui-datepicker td span.ui-state-default.ui-state-highlight::after,
.ui-datepicker td span.ui-state-highlight::after { position: absolute; top: 0; left: 0; width: 0; height: 0; content: " "; border-color: transparent transparent transparent #00badb; border-style: solid; border-width: 0 0 11px 11px; }

.ui-datepicker td a.ui-state-default.ui-state-hover,
.ui-datepicker td a.ui-state-hover,
.ui-datepicker td span.ui-state-default.ui-state-hover,
.ui-datepicker td span.ui-state-hover { background: #edf1f2; }

html.theme-dark .ui-datepicker td a.ui-state-default.ui-state-hover,
html.theme-dark .ui-datepicker td a.ui-state-hover,
html.theme-dark .ui-datepicker td span.ui-state-default.ui-state-hover,
html.theme-dark .ui-datepicker td span.ui-state-hover { background: #262b3e; }

.ui-datepicker td.ui-datepicker-current-day a,
.ui-datepicker td.ui-datepicker-current-day span { height: 36px; line-height: 37px; color: #2196f3; border: 2px solid; border-color: #2196f3; }

html.theme-dark .ui-datepicker td.ui-datepicker-current-day a,
html.theme-dark .ui-datepicker td.ui-datepicker-current-day span { color: #1976d2; border-color: #1976d2; }
.ui-datepicker .ui-datepicker-buttonpane { padding: 0 0.2em; margin: 0.7em 0 0; background-image: none; border-right: 0; border-bottom: 0; border-left: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: left; width: auto; padding: 0.2em 0.6em 0.3em; margin: 0.5em 0.2em 0.4em; overflow: visible; cursor: pointer; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: right; }
.ui-datepicker.ui-datepicker-multi { width: auto; }
.ui-datepicker-multi .ui-datepicker-group { float: right; }
.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0 auto 0.4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-right-width: 0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear: right; }
.ui-datepicker-row-break { width: 100%; clear: both; }
