.control-bar-wrapper { position: absolute; bottom: 33px; z-index: 1; height: 28px; pointer-events: none; direction: ltr; }
.control-bar { display: flex; visibility: visible; transition: opacity 0.3s, visibility 0.3s; }

.control-bar--hidden,
.control-bar--hidden .control-bar__btn { visibility: hidden; opacity: 0; }
.control-bar__group { display: flex; align-items: center; margin: 0 7px; }
.control-bar__btn { z-index: 1; display: inline-flex; align-items: center; justify-content: center; width: 28px; height: 28px; margin: 0 4px; color: #758696; pointer-events: auto; visibility: visible; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: hsla(0, 0%, 100%, 0.7); border-radius: 50%; box-shadow: 0 1px 4px 0 rgba(117, 134, 150, 0.38); opacity: 1; transition: background-color 0.3s, color 0.3s, visibility 0.4s, opacity 0.4s; }
.control-bar__btn--turn-button { margin: 0 11px; }
.control-bar__btn--turn-button svg { margin-bottom: 1px; }
.control-bar__btn--btn-hidden { visibility: hidden; opacity: 0; }

@media (any-hover: hover), (min--moz-device-pixel-ratio: 0), (min-width: 0\0) { .control-bar__btn:hover { color: #262b3e; background-color: #fff; } }
.control-bar__btn:active { background-color: #f7f8fa; transition: none; }
.control-bar__btn--dark { color: #9db2bd; background-color: rgba(38, 43, 62, 0.6); box-shadow: 0 1px 4px 0 #000; }

@media (any-hover: hover), (min--moz-device-pixel-ratio: 0), (min-width: 0\0) { .control-bar__btn--dark:hover { color: #c5cbce; background-color: #262b3e; } }
.control-bar__btn--dark:active { background-color: #1c2030; }
.control-bar__btn--back-present { position: absolute; right: 2px; bottom: 33px; }
.control-bar__btn svg { pointer-events: none; }
