.login {
  position: relative;
  width: 100vw;
  height: 100vh;

  .form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    img {
      width: 177px;
    }

    h1 {
      font-size: 72px;
      margin-top: 32px;
      margin-bottom: 70px;
    }

    .form {
      height: 400px;
      width: 500px;

      input, .ant-input-affix-wrapper {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;

        &:hover, &:focus {
          border-bottom-color: $active-color;
        }
      }

      .login-btn {
        margin-top: 36px;
        width: 146px;
        height: 57px;
        color: $active-color;
        border: 2px solid $active-color;
      }

      .ant-form-item-explain {
        text-align: left;
      }

      .login-code-img {
        display: inline-flex;
        align-items: center;

        img {
          width: 100px;
          padding-right: 20px;
        }
      }
    }

    .broker-selector .ant-select-selector {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      padding-left: 0;
      padding-right: 0;
      box-shadow: none;
      border-bottom-color: $active-color;
      text-align: left;

      &:hover, &:focus {
        border-bottom-color: $active-color;
        outline: none;
      }
    }
  }
}