.login {
  position: relative;
  width: 100vw;
  height: 100vh;

  .form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    img {
      width: 177px;
      &.logoImg{
        margin-bottom: 50px;
      }
    }

    h1 {
      font-size: 72px;
      margin-top: 32px;
      margin-bottom: 70px;
    }

    .form {
      height: 400px;
      width: 500px;

      input, .ant-input-affix-wrapper {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;

        &:hover, &:focus {
          border-bottom-color: $active-color;
        }
      }

      .login-btn-container {
        display: flex;
        justify-content: space-around;
      }

      .login-btn,
      .register-btn {
        margin-top: 36px;
        width: 90px;
        height: 40px;
      }

      .register-btn{

      }

      .ant-form-item-explain {
        text-align: left;
      }

      .login-code-img {
        display: inline-flex;
        align-items: center;

        img {
          width: 100px;
          padding-right: 20px;
        }
      }
    }
  }
}