.login {
  position: relative;
  @include bg('img/login-bg.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;

  .form-wrapper {
    // border: 1px solid red;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .brand {
      // margin: 0 auto;
      img {
        width: 180px;
      }
    }

    .form {
      h2 {
        color: #FF0039;
        margin: 10px 0;
        font-size: 20px;
      }

      p {
        color: #fff;
        font-size: 12px;
        margin-bottom: 20px;
      }

      .qrcode {
        margin-bottom: 20px;
      }
    }

    .copyright {
      font-size: 10px;
      color: #fff;
    }
  }
}