*{
  // outline: 1px solid red;
}
$side-width:368px;
.symbol-page {
  color: white;
  height: 100%;
  display: flex;
  padding: 10px;
  //border: 1px solid white;
  overflow: hidden;

  .symbol-left {
    //border: 1px solid red;
    flex: 0 0 $side-width;
    background-color: $primary-color;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.5);
    //overflow-y: scroll;

    //margin: 0 10px;
    //border: 1px solid white;

    .custom-table-body {
      height: calc(100vh - 66px - 20px - 60px - 22px - 43px);
      overflow-y: scroll;
    }

    .symbol-filter {
      display: flex;
      //justify-content: space-around;
      color: white;
      padding: 10px 0px 10px 10px;

      border-bottom: 1px solid rgba(46,59,85,1);
      .symbol-filter-item {
        margin-right: 30px;
        cursor: pointer;
        &.active {
          color: $active-color;
        }
      }
    }

    .symbol-sidebar {
      color: white;
      padding: 0px;
      // text-align: center;
      //height: calc(100vh - 56px - 10px - 45px - 22px - 20px);
      width: 100%;
      //overflow-y: scroll;

      .symbol-sidebar-info {
        //padding-top: 10px;
        height: 0;
        overflow: hidden;
        transition: height 0.3s;

        &.active {
          height: 170px;
        }

        .symbol-item-info {
          display: flex;
          justify-content: space-between;
          margin: 10px;
        }
      }

      .symbol-order-favorite {
        text-align: right;
      }

      .text-right {
        text-align: right;
      }
    }

    .self-select-buy-container,
    .self-select-sell-container,
    .self-select-dot-container {
      text-align: right;
    }

    .self-select-buy-block,
    .self-select-sell-block {
      padding: 13px 0;
      position: relative;
      top: 1px;
    }

    .ant-spin.ant-spin-spinning {
      display: block;
      padding: 10px;
    }
  }

  .symbol-center {
    //height: 100vh;
    flex: 1 1 calc(100vw - 60px - 10px - 710px);
    overflow: hidden;

    >.ant-row {
      padding: 0 0 0 10px ;
    }

    .symbol-chart {
      background-color: $primary-color;
      border-bottom: 1px solid #333;
      height: 50%;
      //margin-left: 10px;

      .symbol-chart-info {
        padding: 0 10px;
      }

      .symbol-chart-title {
        padding: 10px;
        height: 100px;

        span {
          margin-right: 7px;
          font-size: 12px;
        }

        .symbol-chart-title-status {
          border: 1px solid #FFF;
          border-radius:4px;
          width: 62px;
          height: 20px;
         
          display: inline-block;
          text-align: center;
          user-select: none;
          &.in_transaction{
            color: $active-color;
            border-color: $active-color;
          }

          &.closed{
            color:#838D9E;
            border-color: #838D9E;
          }
        }

        .symbol-chart-priceIcon{
          margin: 0;
        }
        .symbol-chart-main{
          font-size: 16px;
          font-weight: 500;
        }

        .symbol-chart-price {
          font-size: 14px;
        }
      }

      .symbol-chart-container{
        height: calc(100% - 100px);
        width: 100%;
        padding: 10px;
      }
      .fold-chart {
        height: calc(100vh - 56px - 45px - 554px - 20px);
        min-height: 220px;
      }

      .unfold-chart {
        height: calc(100vh - 56px - 45px - 56px - 20px);
      }

      &.select-product {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .symbol-order {
      margin-top: 10px;
      background-color: $primary-color;
      box-shadow:0px 2px 4px 0px rgba(0,0,0,0.5);
      height: 50%;
      &.unfold-tabs {
        //height: (45px + 57px + 55px + 260px);
        //overflow-y: scroll;
      }

      &.fold-tabs {
        height: 56px;
        overflow: hidden;
      }

      .rect-dock {
        display: inline-block;
        background-image: url('../../assets/img/rect-dock.png');
        width:25px;
        height:25px;
        border-radius:2px;
        background-size: cover;
        margin: 0 0 0 10px;
        cursor: pointer;
        vertical-align: middle;
      }

      .symbol-order-info {
        color: $text-color;
        text-align: center;

        strong {
          color: white;
          font-size: 16px;
          //margin-bottom: 10px;
          display: block;
        }
      }
      .symbol-order-table{}
      .symbol-order-table-row {
        cursor: pointer;
      }
    }

    .symbol-order-favorite {
      .symbol-order-btn {
        background-color: $active-color;
        color: #232C37;
        font-size: 16px;
        padding: 2px 16px;
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }

  .symbol-right {
    position: relative;
    flex: 0;
    transition: 0.5s all ease-in-out;
    padding: 0;

    .symbol-tool-item{
      position: absolute;
      width: $side-width;
      background-color: $primary-color;
      height: 100%;
      box-shadow:0px 2px 4px 0px rgba(0,0,0,0.5);
      padding-left: 10px;
      transition: 0.3s all ease-in-out;   
      visibility: hidden;

      &.symbol-detail{
        top:0px;
        left: 500px;
      }
      &.symbol-buy-content{
        top:110%;
        left: 10px;
      }
    }


    &.show-area{
      flex: 0 0 $side-width+10;
      padding: 0 0 0 10px;
      .show{
        visibility:visible;

        &.symbol-detail{
          left: 10px;
        }

        &.symbol-buy-content{
          top:0px;
        }
      }
    }
  }
  .ant-spin-container {
    background-color: #232c37;
  }

  .ant-table-cell ant-table-cell-fix-right ant-table-cell-fix-right-first,
  .ant-table-cell-fix-left, .ant-table-cell-fix-right
  {
    background-color: #232c37 !important;
    transition: unset !important;
  }

  .ant-table-tbody > tr > td {
    padding: 5px 16px;
  }
}

.symbol-modal {
  padding-bottom: 0;

  .symbol-modal-chart {
    border: 1px solid white;
  }

  .symbol-modal-form {
    border: 1px solid white;
  }
}
