.market-page {
  background-color: $layout-bg-color;
  margin: 10px;
  padding: 10px;

  .trend-graph-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    .trend-graph {
      background: $primary-color;
    
      .trend-graph-title {
        font-size: 14px;
        line-height: 14px;
        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
      }
    
      .trend-graph-detail {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        padding: 10px 0;

        span {
          padding: 0 10px;
        }
      }
    }
  }

  .symbol-type-list {
    display: block;
    margin-bottom: 20px;
  
    li {
      display: inline-block;
      cursor: pointer;
    }
  
    .selected-symbol-type {
      color: $active-color;
      border-bottom: 2px solid $active-color;
    }
  }

  .data-up {
    color: $up;
  }

  .data-down {
    color: $down;
  }
}