* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.ant-table-wrapper {
  .ant-pagination {
    float: unset;
    width: 100%;
    text-align: center;
  }
}

.ant-upload-list {
  .ant-upload-list-item-info {
    display: flex;
    align-items: center;
  }
}

.upload-transparent-bg {
  .ant-upload-list-item {
    // @include bg('img/transparent.png');
    background-color: #666;
    background-size: cover;
  }
}

.video-react {
  height: 400px !important;
  padding-top: 0 !important;
}

.video-react-video {
  // height: 400px !important;
}

.video-react-big-play-button {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%) !important;
}

.ant-layout {
  background-color: #1d1f23;
}

.ant-layout-sider-children {
  background-color: $sidebar-color;

  .ant-menu {
    background-color: $sidebar-color;

    &.ant-menu-dark .ant-menu-item-selected,
    .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
      color: $active-color;
      background-color: $sidebar-color;
    }
  }
}
