$primary-color: #232C37;
$navbar-color: #373E47;
$sidebar-color: #2E2F30;
$active-color: #F2E205;

$text-color: #a1a2a9;                   // 主文本色
$text-color-secondary: #e5e5e5;         // 次文本色

$hot: #f5222d;
$normal: $primary-color;
$wait: rgba(250, 173, 20, 1);
$block:rgba(0, 0, 0, 0.25);
