$primary-color: #232c37;
$navbar-color: #373e47;
$sidebar-color: #2e2f30;
$active-color: #f2e205;

$text-color: #a1a2a9;                   // 主文本色
$text-color-secondary: #e5e5e5;         // 次文本色

$hot: #f5222d;
$normal: $primary-color;
$wait: rgba(250, 173, 20, 1);
$block:rgba(0, 0, 0, 0.25);

$primary: #325497;
$up: #44d7b6;
$down: #e94a39;
$grey: #8c8c8c;
$orange: #f7b500;
