.symbol-editor {
  padding: 10px;

  .symbol-editor-price {
    text-align: center;
    font-size: 48px;
  }

  .order-future-btn {
    color: $active-color;
    border: 1px solid $active-color;
    margin-top: 8px;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    border-bottom: 1px solid white;
  }

  .ant-form-item-control-input {
    width: 100%;
    border: none;

    input {
      border: none;
      background-color: $navbar-color;
      border-bottom: 1px solid white;

      &:focus {
        outline: none;
      }
    }
  }

  .ant-input:focus, .ant-input-focused {
    //border: unset;
  }

  .ant-btn {
    border: none;
  }

  .ant-btn:hover, .ant-btn:focus {
    color: white;
    background-color: $down;
    border: none;
    //border: 1px solid $down !important;
  }

  .input-number {

    .ant-form-item-control-input-content {
      display: flex;
      position: relative;
    }
    .input-number-up-down {
      display: flex;
      flex-direction: column;
      color: white;
      position: absolute;
      right: 0;
    }

    svg {
      cursor: pointer;
    }
  }

  .input-up-down {

  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}