.home {
  height: 100%;
  overflow-y: scroll;
  //border: 1px solid red;

  .home-header {
    // background: #fff;
    //padding: 0;
    //box-shadow: 0px 1px 4px 0px rgba(0, 21, 41, 0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar-color;
    height: 56px;

    img {
      width: 22px;
      height: 17px;
      margin-right: 10px;
    }

    h2 {
      color: #fff;
    }

    .home-header-right {
      margin-right: 30px;
      font-size: 15px;

      span {
        cursor: pointer;
        margin-right: 14px;

        img {
          margin-right: 12px;
        }
      }
    }

    .ant-select-selector {
      background-color: #17283e !important;
    }
  }

  .home-content {
    display: flex;

    .home-sidebar {
      width: 60px;
      display: flex;
      padding: 0 10px;
      flex-direction: column;
      align-items: center;
      background-color: $sidebar-color;
    }

    .home-panel {
      flex: 1;
      padding-left: 10px;
      padding-top: 10px;
    }
  }

  .sidebar-row {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;

    &.active {
      color: $active-color;
    }

    img {
      width: 40px;
      height: 35px;
      margin-bottom: 10px;
    }
  }
}
