* {
  // outline: 1px solid red;
}

.guide-modal {
  .guide-modal-steps {
    width: 320px;
    padding-top: 20px;

    .ant-steps-item {
      width: 90px;
    }

    .progress-circle {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #f2e205;
    }

    .anticon {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    .ant-steps-item-tail,
    .ant-steps-dot.ant-steps-small .ant-steps-item-tail {
      top: 8px !important;
    }

    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
      background-color: #f2e205;
    }

    .ant-steps-item-content {
      width: 154px;
      margin-top: 20px;
    }
  }

  .guide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
      // background-color: #CCC;
      margin-top: 113px;
    }

    h3 {
      font-size: 17px;
      color: white;
      margin-top: 20px;
    }

    p {
      color: #f2e205;
      font-size: 12px;
      margin-top: 20px;
    }

    .guide-content-actions {
      display: flex;
      justify-content: space-around;
      margin-top: 113px;
      margin-bottom: 60px;

      button {
        margin: 0 67px;

        &:last-child {
          color: #21212b;
          background-color: #f2e205;
          border: none;
        }

        &:first-child {
          color: #838d9e;
          background-color: #fff;
          border: none;
        }
      }
    }
  }
}

.ant-modal-content {
  border-radius: 0;
  box-shadow: unset !important;

  .ant-modal-close {
    // left: 10px;
    right: 10px;

    .ant-modal-close-x {
      max-width: 17px;
      height: 43px;
      line-height: 43px;
    }
  }

  .ant-modal-header {
    padding: 16px 24px;
    text-align: center;
    background-color: #141e28;
    border-bottom: 0;
    border-radius: 0;

    // .ant-modal-title {
    //   color: #fff;
    //   padding: 46px 0;
    // }
  }
  

}
