* {
  // outline: 1px solid red;
}

.ant-modal-content {
  border-radius: 0;
  box-shadow: unset !important;

  .ant-modal-close {
    // left: 10px;
    right: 10px;

    .ant-modal-close-x {
      max-width: 17px;
      height: 43px;
      line-height: 43px;
    }
  }

  .ant-modal-header {
    padding: 10px 24px;
    text-align: center;
    background-color: #141e28;
    border-bottom: 0;
    border-radius: 0;

    .ant-modal-title {
      color: #fff;
    }
  }

  .ant-modal-body {
    padding: 0;
    background-color: #1f2934;

    .settings-tab {
      display: flex;
      padding: 10px 0;
      cursor: pointer;
      background-color: #141e28;

      .tab {
        flex: 1 1 0;
        text-align: center;

        p + p {
          margin-top: 10px;
        }

        p.active {
          color: #f2e205;
        }

        img {
          height: 25px;
        }
      }
    }

    .settings-content {
      background-color: #1f2934;

      .info-status-wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        color: #8c8c8c;

        > .info-status-line {
          position: absolute;
          top: 20px;
          left: 55px;
          z-index: 0;
          width: calc(100% - 100px);
          height: 2px;
          background-color: #8c8c8c;
        }

        > .info-status {
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          img {
            max-height: 22px;
          }
        }
      }

      .error-msg {
        padding-bottom: 10px;
        color: #ff3b30;
        text-align: center;
      }

      .ant-form {
        padding: 0 10px;

        .ant-form-item-label {
          text-align: left;
        }

        .ant-form-item {
          margin-bottom: 5px;
        }

        .ant-btn:hover,
        .ant-btn:focus {
          color: #f2e205;
          border: 2px solid #f2e205;
        }

        .email-container,
        .submit-container {
          padding-bottom: 10px;
        }

        .submit-container {
          width: 100%;

          > div {
            margin: auto;
            text-align: center;
          }
        }
      }

      .id-card-title {
        padding-left: 15px;
        font-size: 17px;
        line-height: 44px;
        // background-color: #fff;
      }

      .id-card-form {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 10px;
        // background-color: #fff;
      }

      .ant-upload-picture-card-wrapper {
        box-sizing: content-box;
        flex: 1 1 0;
        max-width: 45%;
        height: 13vh;
        // max-height: 300px;
        border: 2px dashed #8c8c8c;

        .ant-upload {
          width: 100%;
          height: inherit;
          padding: 0;
          border: 0;
        }

        .upload-image-preview {
          display: flex;
          align-items: center;
          justify-content: center;
          height: inherit;

          > div {
            color: #8c8c8c;
            text-align: center;

            > img {
              max-height: 23px;
            }
          }
        }
      }

      .items-container {
        padding: 20px 0;

        .settings-item {
          padding: 5px 20px;

          span:nth-child(1) {
            display: inline-block;
            width: 100px;
            font-size: 16px;
          }

          span:nth-child(2) {
            display: inline-block;
            width: 150px;
            padding: 5px 10px;
            font-size: 12px;
            background-color: #5a6169;
          }

          span:nth-child(3) {
            margin-left: 10px;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }

      .pwd-container {
        padding: 20px 0;

        > * {
          width: 80%;
          margin: auto;
          margin-bottom: 20px;
        }

        .phone-input {
          padding: 5px;
          background-color: #373e47;
        }

        .verify-code-input {
          position: relative;

          .ant-form-item-control-input {
            background-color: #5a6169;
          }

          .sms-btn {
            position: absolute;
            top: 2px;
            right: 1px;
            display: inline-block;
            padding: 3px 10px;
            cursor: pointer;
            background-color: #373e47;
          }
        }

        .ant-form-item-control-input-content {
          text-align: center;
        }
      }
    }
  }
}
